---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "./Header.astro";
import About from "./About.astro";
import Resume from "./Resume.astro";
import Contact from "./Contact.astro";
import Footer from "./Footer.astro";
import type { Locale } from "../i18n/types";

interface Props {
    locale: Locale;
}

const { locale } = Astro.props;
---

<Layout locale={locale}>
    <Header locale={locale} />
    <main>
        <About locale={locale} />
        <Resume locale={locale} />
        <Contact locale={locale} />
    </main>
    <Footer locale={locale} />
</Layout>
